<!DOCTYPE html>
<html lang="en">
    <script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </script>

    <head>
	   <% include ./views/partials/head.ejs %>
    </head>
    <body class="container">

	<header>
		<% include ./views/partials/header.ejs %>
	</header>



        <main>
            <div class="jumbotron">
                <h1>Kneipentour</h1>
            </div>
        </main>
        <h1>Profil von <%= bars.userID %></h1>
        <ul>
          <br><li><h4>Bar ID:</h4><%= bars.bid %></li>
          <li><h4>Name:</h4><%= bars.name %></li>
          <br><li><h4>Adresse:</h4><%= bars.adresse %></li>
          <br><li><h4>Stadt:</h4><%= bars.stadt %></li>
          <br><li><h4>Typ:</h4><%= bars.typ %></li>
          <br><li><h4>Gegebenheiten:</h4><%= bars.gegebenheiten %></li>
        </ul>
    <footer>
        <% include ./views/partials/footer.ejs %>
    </footer>

    </body>
</html>
