<!DOCTYPE html>
<html lang="en">
    

    <head>
	   <% include ./views/partials/head.ejs %>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

    </head>
    <body class="container">

	<header>
		<% include ./views/partials/header.ejs %>
	</header>



        <main>
            <div class="jumbotron">
                <h1>Kneipentour</h1>
            </div>
        </main>
        <div class="jumbotron">
            <form style="float: right" id="löschen" name="<%=bars.id%>">
                <input type="submit" value="Bar löschen" style="height: 50px; width: 100px;">
            </form>
            <h1><%= bars.name %></h1>
            <ul>
              <br><li><h4>Adresse:</h4><%= bars.adresse %></li>
              <br><li><h4>Stadt:</h4><%= bars.stadt %></li>
              <br><li><h4>Typ:</h4><%= bars.typ %></li>
              <br><li><h4>Gegebenheiten:</h4><%= bars.gegebenheiten %></li>
                <br><li><h4>Offnungszeiten:</h4>
                    <ul>            
                        <li>Montag von:     <%= oeffnungszeiten.montagvon %> bis <%= oeffnungszeiten.montagbis %></li>
                        <li>Dienstag von:   <%= oeffnungszeiten.dienstagvon %> bis <%= oeffnungszeiten.dienstagbis %></li>
                        <li>Mittwoch von:   <%= oeffnungszeiten.mittwochvon %> bis <%= oeffnungszeiten.mittwochbis %></li>
                        <li>Donnerstag von: <%= oeffnungszeiten.donnerstagvon %> bis <%= oeffnungszeiten.donnerstagbis %></li>
                        <li>Freitag von:    <%= oeffnungszeiten.freitagvon %> bis <%= oeffnungszeiten.freitagbis %></li>
                        <li>Samstag von:    <%= oeffnungszeiten.samstagvon %> bis <%= oeffnungszeiten.samstagbis %></li>
                        <li>Sonntag von:    <%= oeffnungszeiten.sonntagvon %> bis <%= oeffnungszeiten.sonntagbis %></li>
                    </ul>
                </li>
                <li><h4>Events</h4></li>
                        <%for(var i = 0; i < bars.length; i++){%>
                            <ul>
                                <li><h4>Event <%= events[i].event %></a><h4></li>
                                <li><h4>Am: <%= bars[i].datum %></h4></li>
                                <li><h4>Um: <%= bars[i].uhrzeit %> Uhr</h4></li>
                            </ul><%
                        }%>
            </ul>
        </div>
    <footer>
        <% include ./views/partials/footer.ejs %>
    </footer>
        <script type='text/javascript'>
            $(document).ready(function() {
                $("#löschen").submit(function(event){
                    var test = $("#löschen").attr();
                    alert(test);
                    $.ajax({
                        type: 'DELETE',
                        //host: 'localhost',
                        //port: 8080,
				        url: '/bars/' + test,
                        success: function(data){
                            alert('gelöscht');
                        }
                    }).fail(function(data){
                        alert("fail");
                    });
                    event.preventDefault();
                });
            });
        
        </script>
    </body>
</html>
